img {
  max-height: 50px;
}
ul {
  margin: 0;
  padding: 0;
}
h1 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  padding-top: 10px;
}

li {
  color: #70757a;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding-left: 9px;
  padding-top: 6px;
  list-style: none;
}

.units {
  position: relative;
  top: -5px;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 20px;
}

.temperature {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
  font-size: 30px;
}
